body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.0;
    margin: 0;
    padding: 0;
    background-color: rgb(158, 162, 195);
    color: rgb(0, 0, 0);
}

header {
    background-color: #e8e8e8;
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-align: center;
    font-size: smaller;
}


main {
    line-height: 1.2;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    background-color: #e8e8e8;
    color: black;
    padding: 1rem;
    text-align: center;
}
mid {
    line-height: 1.2;
    font-style: normal;
    font-size: 15px;
    font-weight: 200;
    background-color: #e8e8e8;
    color: black;
    text-align: center;

}

footer {
    font-size: xx-small;
    font-style:italic;
    color: rgb(0, 0, 0);
    padding: 2rem;
}